.bar {
  width: 90%;
  height: 50px;
  background-color: grey;
  display: flex;
  cursor: grab;
}

.filled {
  background-color: rgb(107, 107, 231);
}

.barVertical {
  margin-top: 20px;
  width: 50px;
  height: 200px;
  background-color: rgb(107, 107, 231);
  display: flex;
  cursor: grab;
}

.filledVertical {
  background-color: grey;
  width: 100%;
}

.grabbing {
  cursor: grabbing;
}
